@model List<StudentInformation.Models.Student>

<h1>Student List</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>MiddleName</th>
            <th>LastName</th>
            <th>ContactNumber</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.MiddleName</td>
                <td>@student.LastName</td>
                <td>@student.ContactNumber</td>
                <td>@student.Address</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="RegisterStudent" class=" btn btn-primary">Register Student</a>